.setting {
	position: absolute;
	right: 5px;
	bottom: 5px;

	display: flex;
	gap: 6px;
	background-color: white;
	z-index: 999999;

	button {
		color: inherit;
		text-decoration: inherit;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		padding: 2px 5px;
		border-radius: 5px;
		font-size: 11px;
		opacity: 0.6;
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: center;

		span {
			font-weight: bolder;
			font-size: 11px;
			color: #929ea4;
		}

		img {
			width: 15px;
			height: 15px;
		}
	}
}
